*{
    padding: 0%;
    margin: 0%;
}
button{
    margin: 100px;
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
    padding: 15px 30px;
    transition: 1.7s;
}
button:hover{
    background-color: blue;
    transform: scaleX(2);
    letter-spacing:10px;
}