*{
    padding: 0;
}



.gradient-animation {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%; /* Makes the gradient repeat seamlessly */
    animation: gradient 2s ease infinite;
    height: 100vh; /* Set the height to fill viewport */
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
        background-position: 100%,0%;
    100% {
      background-position: 0% 50%;
    }
  }